.form__container {
  display:flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: stretch;
  
}
.form__container input {
  padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
}
.form__container label {
  min-width: 50px;
  margin-top: 1rem;
  align-self: flex-start;
}
.form__error {
  color: brown;
}
