.events__container {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  background-color: #f7f9fb;
}
.events__event {
  background-color: #8fc1e3;
  border-radius: 5px;
  border: 1px solid var(--blue);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.event__minute {
  height: 1px;
}
