.events__container {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 4fr);
  background-color: #F7F9FB;
}
.events__event { 
  background-color: #8FC1E3;
  border-radius: 5px;
  border: 1px solid var(--blue);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.event__minute {
  height: 1px;
}